@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.nav-list,
.nav-user,
.qulaity-list,
.footer-social,
.breadcrumbs,
.filter-list,
/* .card-view-buttons, */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text,
.phone-text {
  margin: 0;
}

.html {
  height: 100%;
}

.body {
  min-width: 1200px;
  min-height: 100%;
  background-color: #F2F2F2;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;

}

.website-container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 10px 15px #cdcccc;
  flex-wrap: nowrap;
}

.main-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.title-lead {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.title-card,
.title-card-black {
  margin: 0;
  margin-bottom: 30px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
}


.phone-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.text {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 34px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.button-apply {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #FFFFFF;
  padding: 8px 50px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.0)
}

.button-color {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width: 452px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;

}

.button-light {
  background-color: transparent;
}

.hotel-list .button {
  font-size: 16px;
  line-height: 20px;
}

.hotel-more-button {
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  border: 0;
}

.hotel-favorites-button-celected {
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: #7DB54F;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  border: 0;
}

.hotel-favorites-button-default {
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: #82B3D3;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  border: 0;
}

.main-header {
  display: flex;
  padding: 0 70px;
}

.element.style {
  display: block;
}

.main-logo {
  position: relative;
  width: 140px;
  display: block;
  margin-right: 28px;
  margin-bottom: -6px;
}

.main-logo-img {
  display: block;
}

.main-container {
  flex-grow: 1;
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 4px;
  min-width: 550px;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  min-width: 88px;
  align-items: center;
  margin-left: auto;
}

.nav-wrapp {
  display: flex;
  align-items: center;
  gap: 20px;

}

.nav-link {
  display: block;
  padding: 20px 16px;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover,
.phone-text:hover,
.hotel-list:hover {
  color: #756157;
}

.navigation {
  flex-wrap: nowrap;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.favorit-page {
  display: block;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7DB54F;
}

/* ++++++++++++++++++++++++++++++++++++++++++++ HERO ++++++++++++++++++++++++++++++++++++++++++++++++++ */


.hero {

  padding: 50px 70px 80px;
  color: #ffffff;
  background-color: #467AA9;
  background-image: url("../images/fon/index01_bg.png"), url("../images/fon/index02-bg.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++ ADVANTAGES +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.advantages {
  text-align: center;
}

.adv-wrapp {
  padding: 69px 260px;
  margin-bottom: 21px;
}

.qulaity-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center
}

.qulaity-list-wide .qulaity-item {
  color: #ffffff;
  background-color: #82B3D3;
}

.qulaity-item {
  box-sizing: border-box;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background-color: rgba(130, 179, 212, 12%);
}

.qulaity-item::after {
  position: absolute;
}

.title-card::after {
  content: "";
  width: 62px;
  height: 2px;
  background-color: #ffffff49;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title-card-black::after {
  content: "";
  width: 62px;
  height: 2px;
  background-color: #00000042;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.qulaity-img {
  display: block;
}

/* ++++++++++++++++++++++++++++++++++++++ ПРОВЕРЬ УДАЛИ ++++++++++++++++ */
/* .qulaity-list-wide .title-card {
 color: #ffffff; 
} */

.qulaity-list-wide {
  width: 1200px;
  display: flex;
}

.advantages li.qulaity-item:nth-of-type(odd) {
  background-color: rgba(130, 179, 212, 20%);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ SERVISE  ДОМ ЕДА ПОДАРОК ++++++++++++++++++++++++++++++++++++++++++++++++++ */
.service {
  text-align: center;
}

.servise-wrapp {
  padding: 64px 340px;
}

.service li.qulaity-item:nth-of-type(even) {
  background-color: #ffffff;
}

.qulaity-item-icon {
  background-repeat: no-repeat;
  background-position: center 81px;
}

/* ++++++++++++++++++++++++++++++++ SEARCH +++++++++++++++++++++++++++++++++++++++++++++ */
.search {
  text-align: center;
}

.search-wrapp {
  padding: 96px 300px;
}

.search .subtitle {
  margin-bottom: 54px;
}

.search .button,
.subscribe-form .button {
  padding-left: 50px;
  padding-right: 50px;
}

.search .button {
  display: inline-block;
}

/* ++++++++++++++++++++++++++++++++++++++++ SUBSCRIDE - ПОДПИСЫВАТЬСЯ ++++++++++++++++++++++++++++++++++ */

.subscribe {
  padding: 96px 250px 104px;
  text-align: center;
}

.subscribe-main {
  color: #ffffff;
  background-color: #808080;
  /* ===+++++++  ПРОВЕРить ФОНЫ  ++++++ +++++====================================================++++++++++++++++++ */
  background-image: url("../images/fon/index03_bg.jfif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.subscribe-main .title-lead {
  color: #ffffff;
}

.subscribe .subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
  border-radius: 4px;
  overflow: hidden;
}

.input-mail {
  box-sizing: border-box;
  min-width: 452px;
  display: inline;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.subscribe-form .button {
  flex-grow: 1;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ FOOTER НИЖНИЙ КОЛОНТИТУЛ+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.main-footer {
  margin-bottom: 100px;
}

.footer-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;

}

.htmlacademy-link {
  display: inline-block;
  width: 115px;
  height: 33px;
}

.htmlacademy-link::before {
  content: "";
  display: block;
  min-width: 115px;
  min-height: 33px;
  background-color: #000000;
  mask-image: url(../images/logo/html_academy.svg);
  mask-size: 115px 33px;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++??????????? */

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 150px;

}

.social-link {
  display: block;
  padding: 12px 12px;
  min-width: 24px;
  min-height: 14px;
}

.social-vk-link::before {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 14px;
  background-color: #83B3D3;
  mask-image: url(../images/icon/vkontakte.svg);
  mask-size: 24px 14px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-vk-link:hover::before {
  background-color: #070f80;
}

.social-tg-link::before {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 14px;
  background-color: #83B3D3;
  mask-image: url(../images/icon/telegram.svg);
  mask-size: 18px 15px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-tg-link:hover::before {
  background-color: #070f80;
}

.social-yout-link::before {
  content: "";
  display: block;
  min-width: 22px;
  min-height: 17px;
  background-color: #83B3D3;
  mask-image: url(../images/icon/youtube.svg);
  mask-size: 22px 17px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-yout-link:hover::before {
  background-color: #070f80;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ CATALOG ++++++++++++++++++++++++++++++++++ */
.filters {
  padding: 35px 70px 70px;
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  color: #ffffff;
  background-color: #808080;
  background-image: url(../images/fon/catalog01-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filters .main-title {
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/* ========================================ФИЛЬТР===================== */
.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-group {
  border: none;
  padding: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-wrapp {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: end;
}

.wrap-sort {
  display: flex;
  padding: 50px 0 40px;
  gap: 70px;
}

.wrap-sort .title-lead {
  /* margin-right: auto;
  margin-bottom: 0;
  flex-grow: 1; */
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.catalog-filter-list {
  list-style: none;
}

.result-filter {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  -webkit-appearance: none;
  appearance: none;
  min-width: 292px;
  padding: 8px 38px 8px 20px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  background-image: url(../images/icon/price_selector.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  min-width: 292px;
  max-height: 50px;
  padding: 12px 52px 12px 20px;
  margin-left: auto;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}
/* =========================================================================================== */
.card-view-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}


/* =======================ПРОБА МАСКИ++++++++++++++ */
 .card-view-tile {
  display: inline-block;
  width: 16px;
  height: 14px;
} 

 .card-button-tile::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  mask-image: url(../images/icon/tile_ic.svg);
  mask-size: 40px 40px;
}

.card-button-large::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  mask-image: url(../images/icon/large_ic.svg);
  mask-size: 40px 40px;
}

.card-button-list::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  mask-image: url(../images/icon/list_ic.svg);
  mask-size: 40px 40px;
}

 .card-button-tile:hover::before,
 .card-button-list:hover::before,
 .card-button-large:hover::before {
  background-color: #7562e0;
} 
/* =======================ПРОБА МАСКИ++++++++++++++ */
.catalog {
  padding: 0 70px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 39px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-item {
  width: 340px;
  padding: 20px 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #181717;
  text-decoration: none;
}

.hotel-type {
  display: flex;
  Width: 300px;
  font-size: 18px;
  line-height: 21px;

  justify-content: space-between;
  gap: 20px;
}

.hotel-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.button-wrap {
  display: flex;
  justify-content: space-between 20px;
  Width: 300px;
  line-height: 20px;
  gap: 20px;
}


.rating-wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 5/6;
}

.rating-text {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  text-align: center;
  border-radius: 4px;
  padding-top: 4px;
  text-transform: uppercase;
}

.star {
  height: 17px;
  width: 85px;
  /* margin-top: 10px; */
  margin-bottom: 0px;
  width: 140px;
  height: 30px;

}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/icon/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
  background-position: 0 center;
}

.star-4::before {
  width: 85px;
}

.star-3::before {
  width: 65px;
}

.star-2::before {
  width: 45px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.pagination {
  max-width: 510px;
  min-width: 400px;
  display: flex;
  gap: 8px;
  padding: 40px 0 60px;
}

.pag-link {
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;

  padding: 11px 11px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pag-disabled {
  color: #000000;
  background-color: #F2F2F2;
}

/* ;;;;;;;;$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */